/* 
    Name: Tony Tavera-Reyes
    Assignment: PA 8
    Discription: This is the css for the Chat App Page.
    This page is seperated into two main flex boxes, the
    top message area has over 70% of the area for message
    and floats auto to be able to be scrollable. Beyond that
    the bottom flex box is split into four more flex boxes,
    containing user input section and the send message button.
*/
html,
body {
  max-width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
}
#messageBoard {
  font-size: 20px;
  flex: 9;
  background-color: rgba(209, 250, 209, 255);
  padding: 20px;
  overflow: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-color: black;
  border: 1px solid rgba(125, 153, 166, 255);
  height: 50px;
  width: 150px;
  font-size: 30px;
  align-self: center;
  margin-left: 50px;
  color: rgba(125, 153, 166, 255);
}
#firstName {
  width: 50%;
  align-self: center;
  font-size: 25px;
  margin-left: 30px;
}
#firstNameDiv {
  display: flex;
  flex: 1;
}
#provideMessage {
  display: flex;
  flex: 1;
}
#clicker {
  width: 200px;
  align-self: center;
  font-size: 25px;
  margin-left: 35px;
  font-weight: bolder;
}
#inputText {
  width: 50%;
  align-self: center;
  font-size: 25px;
  margin-left: 30px;
}
#Bottom {
  background-color: rgba(21, 50, 2, 255);
  margin-top: 5px;
  padding-top: 20px;
  flex-direction: column;
  display: flex;
  flex: 1;
}

.sectionA {
  display: flex;
  flex: 1;
}

.sectionB {
  display: flex;
  flex: 5;
}

.sectionC {
  display: flex;
  flex: 1;
}

.sectionD {
  display: flex;
  flex: 5;
}
